div {
	
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #000080;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	
}

div img {
	
	width:200px;
	height:200px;
	padding-bottom:20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* The navigation menu links */
div a {
	
	font-family: Arial, sans-serif;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
div a:hover {
	
	font-family: Arial, sans-serif;
	color: #f1f1f1;
}

div p {
	
	font-size: 15px;
	font-family: Arial, sans-serif;
	color:  #FFFFFF;
	padding: 8px 8px 8px 32px;
	text-align: left
	
}

div li{
	
	font-size: 15px;
	margin-bottom: 10px;
	font-family: Arial, sans-serif;
	color:  #FFFFFF;
	list-style-position: outside;
	text-align: left;
	padding: 5px 0px; 
	
}

div li ul {
	
	padding-top: 10px
	
}

div li ul li { 

	font-family: Arial, sans-serif;
	font-size: 13px;
	padding: 5px 0px; 

}

/* Position and style the close button (top left corner) */
div .closebutton {
	
	position: absolute;
	top: 0;
	left: 25px;
	font-size: 36px;
	margin-right: 50px;
	
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	
	div {padding-top: 15px;}
	div a {font-size: 18px;}
	
}