body {
	
	margin: auto auto;
	max-width: 700px;
}

h1 {
	
	font-family: Arial, sans-serif;
}

h2 {
	
	font-family: Arial, sans-serif;
}

h3 {
	
	font-family: Arial, sans-serif;
}

table, th, td {
	
	border: 1px solid black;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	padding: 10px
  
}

p {
	
	font-family: Arial, sans-serif;
}

ul li { 

	font-family: Arial, sans-serif;
	padding: 5px 0px; 

}

ol li { 

	font-family: Arial, sans-serif;
	padding: 5px 0px; 

}

table.center {
	
	margin-left: auto; 
	margin-right: auto; 
	
}

img.center {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}

div.column {
	
	float: left;
	width: 33.33%;
	
}

div.reset {
	
	float: middle;
	width: 100%;
	
}

div.row:after {
	
	content: “”;
	display: table;
	clear: both;

}

object.left_sidebar {
	
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	z-index: 1;
	
}

object.right_sidebar {
	
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 20%;
	z-index: 1;
	
}

a.hidden_link {
	
	text-decoration: none;
	color: inherit;
}

/* Define your preferred link color when not hovered */
a.hidden_link:hover {
	
	color: inherit; /* Replace with your preferred color */
}
